/* variables */
:root{
  --white_clr: #EEEFDE;
  --white_active: #DFE587;
  --black: #141414;
}
/* /variables */

body {
  background-color: var(--black);
}

.logo_text {
  color: var(--white_clr);
}



.detail_fake {
  background-color: var(--black);
}


/* tabs */
.tab {
  color: var(--white_clr);
}

.top__title {
  color: var(--white_clr);
}

.sort__btn {
  color: var(--white_clr)
}

.input__label {
  color: var(--white_clr);
}

.input__results::-webkit-scrollbar-thumb {
  border: 1px solid var(--black);
}

/* / tabs */

.select__chanels {
  background-color: var(--white_clr);
  color: var(--black);
}

/* card */
.card__title {
  color: var(--white_clr)
}

.card__desc {
  color: var(--white_clr)
}

.card__btn {
  color: var(--white_clr);
}
/* / card */


.chan__cats_btn {
  background-color: var(--white_clr);
}

.chanels__category .active {
  background-color: var(--white_active);
}

.category__btn  {
  color: var(--white_clr);
}