/* variables */
:root{
  
}
/* /variables */

body {
  background-color: #F5F9FC;
}

/* input*/
.input {

}

.input__results::-webkit-scrollbar-thumb {
  border: 1px solid #fff;
}

/* / input*/

.card__btn {
  color: #000;
}

.chanels__category .active, 
.chats__category .active {
  background-color: #fff;
}

.select__chanels, .select__chats {
  background-color: #fff;
}

.more__btn {
  background-color: #fff;
}