/* variables */
:root{
  
}
/* /variables */

body {
  background-color: #F5F9FC;
}

.logo__wrapper {
  background: url(../img/icons/logo_white.png) no-repeat;
}

.theme__btn {
  background: url(../img/icons/sun_dark.png) no-repeat;
}

.theme__btn::after {
  content: url(../img/icons/triangle_black.png) no-repeat;
}

/* input*/
.input {

}

.input__results::-webkit-scrollbar-thumb {
  border: 1px solid #fff;
}

/* / input*/

.card__btn {
  color: #000;
}

.chanels__category .active {
  background-color: #fff;
}

.select__chanels {
  background-color: #fff;
}